<div style="width:100%;height:100%;">
     <p style="text-align:center;margin-top:220px;font-size:60px"> 
    
       <span>Hi <span style="color:red">{{name}}</span> You Have Greeted <span style="color:red">{{count}}</span> times</span>
    <p/>
</div>

     {{!-- <span style="color:red;text-decoration:underline">Hi {{name}} You Have Greeted {{count}} times</span>
    <p/> --}}