<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Greetings</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="main">
      <h1>GREETINGS</h1>
      <br>
      <form action="/greetings" method="POST">

        <div class="num1">
          <label for="username" style="margin-left: 189px; text-decoration: underline;font-size: 25px">Enter Your Name</label>
          <br>
          <br>
          <input type="text" name="theName" id="username" placeholder="Enter Your Name" style="margin-left:150px;width: 252px;height: 30px;">
        </div>
        <br>
        <label for="language" style="margin-left: 190px; text-decoration: underline;font-size:25px">Select Language</label>
        <br><br><br>
        <div style="margin-left: 130px;">        
          <input type="radio" name="language" value="English" id="english" style="margin-left: 35px">
        <label for="english">English</label>

        <input type="radio" name="language" value="Xhosa" id="xhosa">
        <label for="xhosa">Xhosa</label>

        <input type="radio" name="language" value="Afrikaans" id="afrikaans">
        <label for="afrikaans">Afrikaans</label>
        </div>


    </div>
    <br>
    <br>

    <div class="btn">
      <button type="submit" class="btn1">Greet</button>



      <button type="reset" class="btn2">Clear</button>
    </div>

    </form>
    <a href="/greeted" class="btn2">
      <button type="submit" style="margin-left: 210px; margin-top:10px">Greeted Names</button>
    </a>
    <br>
    <br>
  </div>

  {{#if messages.info}}
  <div class="entry" style="margin-left: 20px;">
    <h1 class="error"> {{messages.info}}</h1>
  </div>
  {{/if}}

  <h3 class="counter" name="thecounter" id="text" style="text-align: center;">{{thiscounter}}</h3>
  <div id="message" name="theGreeting">{{getTheGreeting}}
  </div>
  <script src="timeout.js"></script>
</body>

</html>