<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Greetings</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="main">
      <h1>GREETINGS</h1>
      <br>
      <form action="/greetings" method="POST" class="form-style">

        <div class="num1">
          <label for="username" class="namebox">Enter Your
            Name</label>
          <br>
          <br>
          <input type="text" name="theName" id="username" placeholder="Enter Your Name"class="myinput">
        </div>
        <br>
        <label for="language" class="selectlanguage">Select
          Language</label>
        <br><br><br>
        <div class="selectlanguagediv">
          <input type="radio" name="language" value="English" id="english" style="margin-left: 35px">
          <label for="english">English</label>

          <input type="radio" name="language" value="Xhosa" id="xhosa">
          <label for="xhosa">Xhosa</label>

          <input type="radio" name="language" value="Afrikaans" id="afrikaans">
          <label for="afrikaans">Afrikaans</label>
        </div>


    </div>
    <br>
    <br>

    <div class="btn">
      <button type="submit" class="btn1">Greet</button>
    </form>

      <a href="/reset"> <button type="submit" class="btn2">Clear</button>
      </a>
    </div>

    <a href="/greeted" class="btn2">
      <button type="submit" class="greetednamesbutton">Greeted Names</button>
    </a>
    <br>
    <br>
  </div>

  {{#if messages.info}}
  <div class="entry">
    <h1 class="error"> {{messages.info}}</h1>
  </div>
  {{/if}}

  <h3 class="counter" name="thecounter" id="text" style="text-align: center;">{{thiscounter}}</h3>
  <div id="message" name="theGreeting">{{theGreetingMessage}}</div>
  <script src="timeout.js"></script>
</body>

</html>