<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Greetings</title>
  <link rel="stylesheet" href="/css/style2.css">
</head>
<h1 class="theheading">Names That Have Been Greeted</h1>
<p class="calltoaction">(Click On The Name To See How Many Times A Person Has Been
    Greeted)</p>
<div class="mytablediv">
    {{!-- table with name and count header --}}
    <table class="mytable">
        <tr>
            <th class="headingtablenames">Names</th>
        </tr>
        {{#each names}}
        <tr>
            <td class="myTD">
                <a href="/greeted/{{this.username}}">
                    <h2>{{this.username}}</h2>
                </a>
            </td>
        </tr>
        {{/each}}
</div>
</html>
