<h1 style="margin-left: 450px;margin-bottom: 40px">Names That Have Been Greeted</h1>
<p style="color: grey;margin-left: 310px;font-size:25px">(Click On The Name To See How Many Times A Person Has Been Greeted)</p>
<div style="text-align:center">
{{#each names}}
    <a href="/greeted/{{this.username}}">
    <h2>{{this.username}}</h2>
    </a>
{{/each}}
</div>


