* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 40%;
    height: 40%;
    margin: 5% 30%;
    background-color: #DBCBD8;

    border-radius: 0px 50px;
    border: 3px solid black;
}

body {
    background-color: #BBDEF0;
}

.counter {
    color: red;
}

.username {
    color: blue;

}
.btn1{
    margin-left: 163px; 
    width: 100px; 
    height: 28px;
}
.btn2{
    margin-left: 10px; 
    width: 100px; 
    height: 28px;
}
h1 {
    text-align: center;
    color: black;
    margin-top: 10px;
}

#message {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700;
    border: 2px solid black ;
    width: 310px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.namebox{
    margin-left: 189px; 
    text-decoration: underline;
    font-size: 25px;
}
.myinput{
    margin-left:150px;
    width: 252px;
    height: 30px;
}
.selectlanguage{
    margin-left: 190px;
    text-decoration: underline;
    font-size: 25px
}
.selectlanguagediv{
    margin-left: 130px;
}
.greetednamesbutton{
    margin-left: 210px;
    margin-top: 10px
}
.entry{
    margin-left: 20px;
}

/* button on hover */
button:hover {
    background-color: #DBCBD8;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    .container {
        width: 80%;
        height: 100%;
        margin: 30% 10%;
    }
    .namebox{
        width: 10%;
        margin: 0 22%;
    }
    .myinput{
        margin-left: 30px;
    }
    .selectlanguage{
        margin-left: 73px;
    }
    .selectlanguagediv{
        margin-left: 20px;
    }
    .btn1{
        margin-left: 54px;
    }
    .greetednamesbutton{
        margin-left: 98px;
    }
    .entry{
        margin-left: 20px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 80%;
        height: 100%;
        margin: 30% 10%;
    }
    .namebox{
        width: 20%;
        margin: 0 19%;
    }
    .myinput{
        margin-left: 7%;
    }
    .selectlanguage{
        margin-left: 20%;
    }
    .selectlanguagediv{
        margin-left: 2%;
    }
    .btn1{
        margin-left: 13%;
    }
    .greetednamesbutton{
        margin-left: 30%;
    }
    .entry{
        margin-left: 20px;
    }
}
    
